.Kotak {
    background: white;
    margin: 1rem auto;
    width: 340px;
  }
  
  .Header {
    display: flex;
    padding: 5px;
    gap: 15px;
  }
  
  #kembaliButton {
    cursor: pointer;
    text-decoration: none;
  }
  
  #kembaliButton img {
    width: 17.86px;
    height: 28.31px;
    margin-right: 10px;
  }
  
  .Text {
    margin-left: 55px;
    font-family: "Lexend", sans-serif;
  }
  
  .Objek {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Pilihan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    margin-left: 20px;
    justify-content: center;
    gap: 10px;
  }
  
  .option {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    width: 154px;
    height: 50px;
    font-family: "Lemon", sans-serif;
    font-size: 25px;
    line-height: 5px;
    cursor: pointer;
  }
  
  .option[data-color="blue"] {
    background-color: rgba(238, 231, 53, 1);
    color: black;
    width: 170px;
  }
  
  .option[data-color="red"] {
    background-color: rgba(53, 238, 161, 1);
    color: black;
  }
  
  .option[data-color="yellow"] {
    background-color: rgba(53, 183, 238, 1);
    color: black;
    position: relative;
    left: 80px;
  }
  
  .Next {
    font-family: 'NamaFontGujarati', sans-serif;
    text-align: center;
    align-items: center;
  }
  
  .Next button {
    background-color: rgb(61, 136, 233); 
    color: white; 
    width: 305px;
    height: 51px;
    font-size: 25px;
    line-height: 5px; 
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    margin-left: 20px;
  }
  
  .Next button a {
  text-decoration: none;
  color: white;
  }
  
  